body {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
}

#container {
  display: flex;
  width: 100%;
  height: 100vh;
}

#sidebar {
  flex: 0 0 250px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
}

#content {
  flex-grow: 1;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px;
}

li:hover {
  background-color: #eee;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:hover {
  background-color: #eee;
}

thead tr {
  border-bottom: 1px solid #ccc;
}

th {
  color: #aaa;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.arrow {
  font-size: 10px;
  margin-right: 5px;
}

.icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.tree-node {
  display: flex;
  align-items: center;
}

.tree-node .name {
  flex-grow: 1;
}

.tree-node .children {
  list-style-type: none;
  padding-left: 20px; /* Change this to adjust the indent size */
}

.tree-node .children li {
  margin-left: 20px; /* This adds an indent to child items */
}

.node-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
